<div class="main-container" cdkDropListGroup>
	<div class="example-container">
		<h4>Droppable area 1</h4>
		<div
		  cdkDropList
		  #todoList="cdkDropList"
		  [cdkDropListData]="boxcontents1"
		  cdkDropListOrientation="horizontal"
		  class="example-list droppable-area"
		  (cdkDropListDropped)="drop($event)">
		  @for (item of boxcontents1; track item) {
			<div class="example-box" cdkDrag>{{item}}</div>
		  }
		</div>
	</div>
	<div class="example-container">
		<h4>Droppable area 2</h4>
		<div class="droppable-area">
			@for(row of data; track row; let i = $index){
				<div
				  cdkDropList
				  [cdkDropListData]="data[i]"
				  cdkDropListOrientation="horizontal"
				  class="example-list"
				  (cdkDropListDropped)="drop($event)">
				  @for (item of row; track item) {
					<div class="example-box" cdkDrag>{{item}}</div>
				  }
				</div>
			}
		</div>
	</div>
</div>
